<!DOCTYPE html>
	<html lang="fr">
		<head>
			<meta charset="UTF-8">
			<link rel="icon" type="image/png" href="../static/images/chouette.png" />
			<title>Hoozoo {%block titre %}{%endblock%}</title>
			{% include "partials/css.html" %}
        	{% include "partials/metadata.html" %}
		</head>
		<body>
			<nav class="navbar navbar-expand navbar-light justify-content-between" style="background-color: #e6e6e6;">
				<img class="d-block mr-3" src="../static/images/chouette.png" alt="" width="72">
				<a class="navbar-brand" href="#">Hoozhoo</a>
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{url_for("index")}}">Index</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contribuer</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{url_for("creer_lien")}}">Créer un lien</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Connexion</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Déconnexion ()</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				<form class="form-inline" action="#" method="GET">
				<input class="form-control" name="keyword" type="search" placeholder="Rechercher" aria-label="Recherche">
				<button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
				</form>
			</nav>
			<div class="container">
				<!-- messages flash après une requête-->
			{% with messages = get_flashed_messages(with_categories=true) %}
          	{% if messages %}
	         	<div class="row">
	            	<div class="col">
	            		{% for category, message in messages %}
	            		<div class="alert alert-{{category}}" role="alert">{{ message }}</div>
	            		{% endfor %}
	              	</div>
	          	</div>
				{% endif %}
				{% endwith %}

	        	<div class="row">
	            	<div class="col">
	            	{% block corps %}{% endblock %}
	            </div>
	        	</div>

	        </div>
        <footer class="footer container-fluid-expand" style="background-color: #e6e6e6; padding: 20px">
        	<div class="row justify-content-md-center">
                	<div class="col col-1"><a href="https://github.com/Chartes-TNAH/dico-proso" class="text-secondary">  <i class="fa fa-github"></i> Github</a></div>
                	<div class="col col-1"><a href="{{url_for("contact")}}" class="text-secondary">  <i class="fa fa-envelope"></i> Contact</a></div>
                	<div class="col col-1"><a href="{{url_for("about")}}" class="text-secondary">A propos</a></div>
         	</div>
        </footer>
				<script src="../static/js/jquery.js"></script>
				<script src="../static/js/popper.js"></script>
				<script src="../static/js/bootstrap.js"></script>
	</body>
</html>
