<!DOCTYPE html>
	<html lang="fr">
		<head>
			<meta charset="UTF-8">
			<title>Hoozoo {%block titre %}{%endblock%}</title>
			{% include "partials/css.html" %}
        	{% include "partials/metadata.html" %}
		</head>
		<body>
			<nav class="navbar navbar-expand navbar-light justify-content-between" style="background-color: #e6e6e6;">
				<a class="navbar-brand" href="{{ url_for('accueil') }}">Hoozhoo</a>
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{url_for("inscription")}}">Index</a>
						</li>
						{% if not current_user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="{{url_for("browse")}}">Contribuer</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{url_for("connexion")}}">Connexion</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{url_for("deconnexion")}}">Déconnexion ({{current_user.user_nom}})</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{url_for("contact")}}">Contact</a>
						</li>
						{% endif %}				
					</ul>
				<form class="form-inline" action="{{url_for("recherche")}}" method="GET">
				<input class="form-control" name="keyword" type="search" placeholder="Recherche" aria-label="Recherche">
				<button class="btn btn-secondary" type="submit">Rechercher <i class="fa fa-search"></i></button>
				</form>
			</nav>
			<div class="container">
				<!-- messages flash après une requête-->
			{% with messages = get_flashed_messages(with_categories=true) %}
          	{% if messages %}
	         	<div class="row">
	            	<div class="col">
	            		{% for category, message in messages %}
	            		<div class="alert alert-{{category}}" role="alert">{{ message }}</div>
	            		{% endfor %}
	              	</div>
	          	</div>
	        	<div class="row">
	            	<div class="col">
	            	{% block corps %}{% endblock %}
	            </div>
	        	</div>
	        </div>
        <footer class="container-fluid-expand" style="background-color: #e6e6e6; padding: 20px">
        	<div class="footer-item">
            	<div class="col-lg-12 text-center">
                	<a href="https://github.com/Chartes-TNAH/dico-proso" class="text-secondary">  <i class="fa fa-github"></i> Github</a>
                	<a href="{{url_for("contact")}}" class="text-secondary">  <i class="fa fa-envelope"></i> Contact</a>
                	<a href="{{url_for("a_propos")}}" class="text-secondary">A propos</a>
             	</div>
         	</div>
        </footer>
	</body>
</html>