{% extends "conteneur.html" %}
{% block titre %}| A propos{% endblock %}
{% block corps %}
<h1 class="mb-3">A propos du projet Hoozhoo</h1>
<p>Cette application a été développée dans le cadre d'une évaluation pour le cours de Python du Master 2 Technologies numériques appliquées à l'histoire de l'Ecole nationale des chartes. Elle vise à permettre la mise en place d'un dictionnaire prosopographique incluant une gestion des relations entre personnes, sur la base de l'<a href="https://snapdrgn.net/ontology" target="_blank">ontologie SNAP</a>. L'ensemble des éléments de description d'une personne peut être exporter selon le standard JSON-LD grâce à une API.</p>
<p>Les utilisateurs enregistrés peuvent créer, modifier ou supprimer les notices des personnes, ou les liens qui les concernent. La consultation de la base et l'utilisation de l'API restent possibles sans authentification.</p>
<h2 class="mt-2">L'équipe du projet :</h2>
<ul>
<li><a href="https://github.com/Verronmere" target="_blank">Ekaterina Batova</a></li>
<li><a href="https://github.com/alix-tz" target="_blank">Alix Chagué</a></li>
<li><a href="https://github.com/eglantinecharmetant" target="_blank">Eglantine Charmetant</a></li>
<li><a href="https://github.com/lduflos" target="_blank">Léa Duflos</a></li>
<li><a href="https://github.com/vasaura" target="_blank">Aurélia Vasile</a></li>
</ul>
{% endblock %}
