{% extends "conteneur.html" %}
{% block titre %}| A propos{% endblock %}
{% block corps %}
<h1>A propos du projet Hoozhoo</h1>
<p>Cette application a été développée dans le cadre d'une évaluation pour le cours de Python du Master 2 Technologies numériques appliquées à l'histoire de l'Ecole nationale des chartes. Elle vise à permettre la mise en place d'un dictionnaire prosopographique incluant une gestion des relations entre personnes, sur la base de l'<a href="https://snapdrgn.net/ontology">ontologie SNAP</a>.</p>
<h2>Participant.es au projet :</h2>
<ul>
<li>Ekaterina Batova</li>
<li>Alix Chagué</li>
<li>Eglantine Charmetant</li>
<li>Léa Duflos</li>
<li>Aurélia Vasile</li>
</ul>
{% endblock %}
