{% extends "conteneur.html" %}
{% block titre %}| Accueil{% endblock %}
{% block corps %}
<div class="container mb-5">
	<div class="row">
		<h1 class="mt-3 mb-5">Dictionnaire prosopographique</h1>
	</div>
	<div class="row mt-3 mb-5">
		<div class="col-6">
			<img src="./static/images/reseau_1.png" alt="image reseau personne" width="500" height="350" align="center">
		</div>
		<div class="col-6 text-justify mt-5">
			<p>Crée dans le cadre d'un projet de master, ce dictionnaire prosopographique est une application qui offre la possibilité de réaliser un certain nombre de notices personnes. Basée sur l'<a href="https://snapdrgn.net/ontology" target="_blank">ontologie SNAP</a>, elle permet aussi de faire des liens entre les notices personnes mettant ainsi en valeur différents réseaux.</p>
			<p>Ce dictionnaire prosopographique a vocation à s’enrichir grâce à un travail collaboratif. Chaque utilisateur est libre d'y contribuer par la création, la modification ou la suppression d'une notice ou bien d'un lien. </p>
		</div>
	</div>
	<div class="row">
	<a type="button" class="btn btn-secondary btn-lg btn-block" href="{{url_for('index')}}">Accès à la liste des notices</a>
	</div>
</div>
<div class="container-fluid mt-3 mb-5">
	{% if personnes %}
	<p>Les {{personnes|length}} dernières notices enregistrées :</p>
	{% for personne in personnes %}
	<div class="card-group">
		<div class="card" style="width: 17rem;">
		  <div class="card-body">
		    <h5 class="card-title font-weight-bold">{{personne.person_name}} {{personne.person_firstname}} {{personne.person_nickname}}</h5>
		    {% if personne.person_birthdate or personne.person_deathdate %}
		    <p class="card-text">{{personne.person_birthdate}}  --  {{personne.person_deathdate}}</p>
		    {% else %}
		    <p class="card-text">---</p>
		    {% endif %}
		    {% if personne.person_occupations %}
		    <p class="card-text">{{personne.person_occupations}}</p>
		    {% else %}
		    <p class="card-text">---</p>
		    {% endif %}
		    <a href="{{url_for('notice', identifier=personne.person_id)}}" class="btn btn-secondary">Notice</a>
		  </div>
		</div>
		{% endfor %}
    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
	</div>
</div>  
{% endblock %}