{% extends "conteneur.html" %}

{% block titre %}| Connexion{%endblock%}

{% block corps %}


<div class="text-center container">
<div class="row justify-content-md-center">
<form class="form form-signin col-md-4" method="POST" action="{{url_for("connexion")}}">
	<h1 class="mt-2 mb-3">Connexion</h1>
    <label for="register-login" class="sr-only">Login</label>
    <input type="text" class="form-control mb-2" id="register-login" name="login" placeholder="Login" required autofocus>
    <label for="register-password" class="sr-only">Mot de passe</label>
    <input type="password" class="form-control" id="register-password" placeholder="Mot de passe" name="password" required>
    <button type="submit" class="btn btn-lg btn-primary btn-block mt-4">Se connecter</button>
    <p class="font-italic text-muted mt-3">Pas encore inscrit ?</p>
    <a href="{{url_for("inscription")}}" class="btn btn-secondary btn-lg btn-block">Inscription</a>
</form>
</div>

</div>
{% endblock %}
