{% extends "conteneur.html" %}

{% block titre %}| Création personne{%endblock%}

{% block corps %}

<div class="container mt-3 mb-5">
  <div class="col">
<h1>Création personne</h1>
  <p>Complétez le formulaire et cliquez sur "Créer" pour ajouter une nouvelle notice</p>
</div>
</div>
<form class="container" method="POST" action="{{url_for("creer_personne")}}">
    <div class="form-group row">
      <div class="form-group col">
        <label for="nom" class="col-lg-4 col-form-label">Nom</label>
      <div class="col">
        <input type="text" class="form-control" id="nom" name="nom">
      </div>
      </div>
      <div class="form-group col">
        <label for="prenom" class="col-lg-4 col-form-label">Prénom</label>
      <div class="col">
        <input type="text" class="form-control" id="prenom" name="prenom">
      </div>
      </div>
      <div class="form-group col">
        <label for="surnom" class="col-lg-4 col-form-label">Surnom</label>
      <div class="col">
        <input type="text" class="form-control" id="surnom" name="surnom">
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col-lg-6">
        <label for="nom_languematernelle" class="col-lg-9 col-form-label">Nom dans la langue maternelle de la personne</label>
      <div class="col">
        <input type="text" class="form-control" id="nom_languematernelle" name="nom_languematernelle">
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col">
        <label for="date naissance" class="col-lg-4 col-form-label">Date de naissance</label>
      <div class="col">
        <input type="text" class="form-control" id="date_naissance" name="date_naissance" maxlength="12">
      </div>
      </div>
      <div class="form-group col">
        <label for="date_deces" class="col-lg-4 col-form-label">Date de décès</label>
      <div class="col">
        <input type="text" class="form-control" id="date_deces" name="date_deces" maxlength="12">
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col">
        <label for="pays_nationalite" class="col-lg-4 col-form-label">Pays de nationalité</label>
      <div class="col">
        <input type="text" class="form-control" id="pays_nationalite" name="pays_nationalite" placeholder="ex: France, Portugal">
      </div>
      </div>
      <div class="form-group col">
        <label for="langues" class="col-lg-7 col-form-label">Langues parlées, écrites ou signées</label>
      <div class="col">
        <input type="text" class="form-control" id="langues" name="langues" placeholder="ex: anglais, français, italien">
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col">
        <label for="genre" class="col-lg-3 col-form-label">Genre</label>
        <div class="form-check form-check-inline col-lg-2">
        <input class="form-check-input" type="radio" name="genre" id="homme" value="homme">
        <label class="form-check-label" for="homme">Homme</label>
      </div>
      <div class="form-check form-check-inline col-lg-2">
        <input class="form-check-input" type="radio" name="genre" id="femme" value="femme">
        <label class="form-check-label" for="femme">Femme</label>
      </div>
      <div class="form-check form-check-inline col-lg-2">
        <input class="form-check-input" type="radio" name="genre" id="inconnu" value="inconnu">
        <label class="form-check-label" for="inconnu">Inconnu</label>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col-lg-6">
        <label for="fonctions_occupations" class="col-lg-4 col-form-label">Fonction(s)/Occupation(s)</label>
      <div class="col">
        <input type="text" class="form-control" id="fonctions_occupations" name="fonctions_occupations" placeholder="ex: peintre, sculpteur">
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col">
        <label for="description" class="col-lg-3 col-form-label">Description</label>
      <div class="col">
        <textarea class="form-control" name="description" id="description" placeholder="Entrez votre texte" rows="3" maxlength="255"></textarea>
      </div>
    </div>
  </div>
    <div class="form-group row">
      <div class="form-group col">
        <label for="nom" class="col-lg-3 col-form-label">Wikidata ID</label>
      <div class="col">
        <input type="text" class="form-control col-lg-4" id="id_externes" name="id_externes" placeholder="Saisir le Wikidata ID" maxlength="12">
      </div>
      </div>
    </div>          
      <div class="form-group row">
        <button type="submit" class="btn btn-secondary mx-auto" value="créer">Créer</button>
      </div>
</form>
{% endblock %}