{% extends "conteneur.html" %}

{% block titre %}| Création personne{%endblock%}

{% block corps %}

<div class="container mt-3 mb-5">
  <div class="col">
<h1>Création personne</h1>
  <p>Complétez le formulaire et cliquez sur "Créer" pour ajouter une nouvelle notice</p>
</div>
</div>
<form class="container" method="POST" action="{{url_for("creer_personne")}}">
    <div class="form-group row">
      <div class="form-group col">
        <label for="nom" class="col-lg-4 col-form-label">Nom</label>
      <div class="col">
        <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom">
      </div>
      </div>
      <div class="form-group col">
        <label for="prenom" class="col-lg-4 col-form-label">Prénom</label>
      <div class="col">
        <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom">
      </div>
      </div>
      <div class="form-group col">
        <label for="surnom" class="col-lg-4 col-form-label">Surnom</label>
      <div class="col">
        <input type="text" class="form-control" id="surnom" name="surnom" placeholder="Surnom">
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col-lg-6">
        <label for="nom_naissance" class="col-lg-4 col-form-label">Nom de naissance</label>
      <div class="col">
        <input type="text" class="form-control" id="nom_naissance" name="nom_naissance" placeholder="Nom de naissance">
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col">
        <label for="date naissance" class="col-lg-4 col-form-label">Date de naissance</label>
      <div class="col">
        <input type="text" class="form-control" id="date_naissance" name="date_naissance">
      </div>
      </div>
      <div class="form-group col">
        <label for="date_deces" class="col-lg-4 col-form-label">Date de décès</label>
      <div class="col">
        <input type="text" class="form-control" id="date_deces" name="date_deces">
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col">
        <label for="nationalite" class="col-lg-4 col-form-label">Nationalité</label>
      <div class="col">
        <input type="text" class="form-control" id="nationalite" name="nationalite" placeholder="Nationalité">
      </div>
      </div>
      <div class="form-group col">
        <label for="langues" class="col-lg-7 col-form-label">Langues parlées, écrites ou signées</label>
      <div class="col">
        <input type="text" class="form-control" id="langues" name="langues" placeholder="Langues parlée, écrites ou signées">
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col">
        <label for="genre" class="col-lg-3 col-form-label">Genre</label>
        <div class="form-check form-check-inline col-lg-2">
        <input class="form-check-input" type="radio" name="genre" id="homme" value="homme">
        <label class="form-check-label" for="homme">Homme</label>
      </div>
      <div class="form-check form-check-inline col-lg-2">
        <input class="form-check-input" type="radio" name="genre" id="femme" value="femme">
        <label class="form-check-label" for="femme">Femme</label>
      </div>
      <div class="form-check form-check-inline col-lg-2">
        <input class="form-check-input" type="radio" name="genre" id="inconnu" value="inconnu">
        <label class="form-check-label" for="inconnu">Inconnu</label>
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col-lg-6">
        <label for="fonctions" class="col-lg-4 col-form-label">Fonction(s)</label>
      <div class="col">
        <input type="text" class="form-control" id="fonctions" name="fonctions" placeholder="Fonction(s)">
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col">
        <label for="description" class="col-lg-3 col-form-label">Description</label>
      <div class="col">
        <textarea class="form-control" name="description" id="description" placeholder="Entrez votre texte" rows="3"></textarea>
      </div>
    </div>
  </div>
    <div class="form-group row">
      <div class="form-group col">
        <label for="nom" class="col-lg-3 col-form-label">Wikidata ID</label>
      <div class="col">
        <input type="text" class="form-control col-lg-4" id="id_externes" name="id_externes" placeholder="Saisir le Wikidata ID">
      </div>
      </div>
    </div>          
      <div class="form-group row">
        <button type="submit" class="btn btn-secondary mx-auto" value="créer">Créer</button>
      </div>
</form>
{% endblock %}