{% extends "conteneur.html" %}
{% block titre %}| Edition de liens{% endblock %}
{% block corps %}

<h1 class="mt-3">Editer un lien</h1>
<p>Modifier le formulaire ci-dessous et cliquez sur "Enregistrer" pour éditer un lien.</p>

<form class="form container-fluid mt-3" id="new-link-container" method="POST" action="{{url_for('modification_lien', identifier=unique.link_id)}}">
  <div class="row">
  <button type="submit" class="btn btn-secondary btn-block col-md-2 mx-auto mb-4 mt-3">Enregistrer</button>
  </div>

  <div class="new-link-div col-md-10 row mb-3 mx-auto form-group">
      <div class="col-sm">
        <label for="link_person1" class="font-weight-bold">Personne 1 (ID)</label>
        <input type="text" class="form-control" id="link_person1" name="link_1_person" value="{{unique.link_person1_id}}" readonly />
      </div>

      <div class="col-sm">
        <label for="link_relation_type" class="font-weight-bold">Nature de la relation</label>
        <select class="custom-select d-block" id="link_relation_type" name="link_relation_type">
          {% for lien in listRelation %}
            {% if lien.relation_type_id == unique.link_relation_type_id %}
            <option value="{{lien.relation_type_id}}" selected>{{lien.relation_type_name}}</option>
            {% else %}
            <option value="{{lien.relation_type_id}}">{{lien.relation_type_name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div class="col-sm">
        <label for="link_person2" class="font-weight-bold">Personne 2 (ID)</label>
        <input type="text" class="form-control" id="link_person2" name="link_2_person" value="{{unique.link_person2_id}}" />
      </div>
    </div>
</form>

{% endblock %}