{% extends "conteneur.html" %}

{% block titre %}| Modification personne{%endblock%}

{% block corps %}

<div class="container mt-3 mb-5">
  <div class="col">
<h1>Modification personne</h1>
  <p>Modifier le formulaire et cliquez sur "Modifier" pour modifier la notice</p>
</div>
</div>

<form class="container" method="POST" action="{{url_for("modification", identifier=personne_origine.person_id)}}">
    <div class="form-group row">
      <div class="form-group col">
        <label for="nom" class="col-lg-4 col-form-label">Nom</label>
          <div class="col">
            <input type="text" class="form-control" id="nom" name="nom" value="{{ personne_origine.person_name }}">
          </div>
      </div>
      <div class="form-group col">
        <label for="prenom" class="col-lg-4 col-form-label">Prénom</label>
      <div class="col">
        <input type="text" class="form-control" id="prenom" name="prenom" value="{{ personne_origine.person_firstname }}">
      </div>
      </div>
      <div class="form-group col">
        <label for="surnom" class="col-lg-4 col-form-label">Surnom</label>
      <div class="col">
        <input type="text" class="form-control" id="surnom" name="surnom" value="{{ personne_origine.person_nickname }}">
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col">
        <label for="date naissance" class="col-lg-4 col-form-label">Date de naissance</label>
      <div class="col">
        <input type="text" class="form-control" id="date_naissance" name="date_naissance" value="{{ personne_origine.person_birthdate }}">
      </div>
      </div>
      <div class="form-group col">
        <label for="date_deces" class="col-lg-4 col-form-label">Date de décès</label>
      <div class="col">
        <input type="text" class="form-control" id="date_deces" name="date_deces" value="{{ personne_origine.person_deathdate }}">
      </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col">
        <label for="genre" class="col-lg-3 col-form-label">Genre</label>
          {% if personne_origine.person_gender == "Homme" %}
            <div class="form-check form-check-inline col-lg-2">
                <input class="form-check-input" checked="checked" type="radio" name="genre" id="homme" value="Homme">
                <label class="form-check-label" for="homme">{{ personne_origine.person_gender }}</label>
            </div>
            <div class="form-check form-check-inline col-lg-2">
                <input class="form-check-input" type="radio" name="genre" id="femme" value="Femme">
                <label class="form-check-label" for="femme">Femme</label>
            </div>
            <div class="form-check form-check-inline col-lg-2">
                <input class="form-check-input" type="radio" name="genre" id="inconnu" value="Inconnu">
                <label class="form-check-label" for="inconnu">Inconnu</label>
            </div>
          {% elif personne_origine.person_gender == "Femme"  %}

            <div class="form-check form-check-inline col-lg-2">
                <input class="form-check-input" type="radio" name="genre" id="homme" value="Homme">
                <label class="form-check-label" for="homme">Homme</label>
            </div>
              <div class="form-check form-check-inline col-lg-2">
                <input class="form-check-input" checked="checked" type="radio" name="genre" id="femme" value="Femme">
                <label class="form-check-label" for="femme">{{ personne_origine.person_gender }}</label>
            </div>
            <div class="form-check form-check-inline col-lg-2">
                <input class="form-check-input" type="radio" name="genre" id="inconnu" value="Inconnu">
                <label class="form-check-label" for="inconnu">Inconnu</label>
            </div>
          {% else %}

            <div class="form-check form-check-inline col-lg-2">
                <input class="form-check-input" type="radio" name="genre" id="homme" value="Homme">
                <label class="form-check-label" for="homme">Homme</label>
            </div>
            <div class="form-check form-check-inline col-lg-2">
                <input class="form-check-input" type="radio" name="genre" id="femme" value="Femme">
                <label class="form-check-label" for="femme">Femme</label>
            </div>
              <div class="form-check form-check-inline col-lg-2">
                <input class="form-check-input" checked="checked" type="radio" name="genre" id="inconnu" value="Inconnu">
                <label class="form-check-label" for="inconnu">{{ personne_origine.person_gender }}</label>
            </div>
            {% endif %}
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col">
        <label for="description" class="col-lg-3 col-form-label">Description</label>
      <div class="col">
        <textarea type="text" class="form-control" name="description" id="description"  rows="3"> {{ personne_origine.person_description }}</textarea>
      </div>
    </div>
        <script>

        </script>
  </div>
    <div class="form-group row">
      <div class="form-group col">

        <label for="nom" class="col-lg-3 col-form-label">Wikidata ID</label>

      <div class="col">

      </div>
      <div class="col mt-1">
        <input type="text" class="form-control col-lg-4" id="id_externes" name="id_externes" value={{ personne_origine.person_external_id }}>
      </div>
      </div>
    </div>
      <div class="form-group row">
        <button type="submit" class="btn btn-secondary mx-auto" value="créer">Modifier</button>
      </div>
</form>
{% endblock %}